@CHARSET "UTF-8";
#search-input {
	display: inline;
	width: 50%;	
}

.button {
	background-color: #BDBDBD;
	display: inline;
	cursor: pointer;
}

#cy {
  width: 1900px;
  height: 800px;
  display: block;
}
