@CHARSET "UTF-8";
#search-input {
	display: inline;
	width: 50%;	
}

.button {
	background-color: #b3ecff;
	display: inline;
	cursor: pointer;
	padding: 2px 10px;
	border-radius: 3px;
}

a:visited {
  color: black;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}